// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: 5% auto 0 auto;
}
.navbar-text {
  position: fixed;
  right: 5%;
  top: 2%;
}
